---

---

<main>
    <h1>Netlify Edge Functions with Astro</h1>

    Welcome, visitor from COUNTRYNAME!
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
